.DS_Store
.env
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc

node_modules/
.next/
playwright-report/
test-results/

apps/api/.venv/
apps/worker/.venv/

infra/node/
infra/pnpm/
infra/playwright/

storage/*
!storage/.gitkeep
